In [1]:
import pandas as pd
import pympi
import os
import math

In [18]:
language = 'ES' # 'EN' or 'ES'

In [19]:
# Get the list of files in the directory
files = os.listdir('C:\Research\\features\{language}'.format(language=language))

# Initialize an empty list to store the file IDs
file_ids = []

# Iterate through the files
for file in files:
    # Check if the file name ends with '-reduction.eaf'
    if file.endswith('-reduction.eaf'):
        # Extract the file ID from the file name
        file_id = file[:-14]
        # Add the file ID to the list
        file_ids.append(file_id)

# Print the list of file IDs
print(file_ids)

['ES_001', 'ES_003', 'ES_008', 'ES_012', 'ES_022', 'ES_028']

In [20]:
features = ['tl -250 to -100 self',
'tl -100 to  -20 self',
'tl  -20 to   20 self',
'tl    20 to 100 self',
'tl   100 to 250 self',
'th -250 to -100 self',
'th  -100 to -20 self',
'th   -20 to  20 self',
'th    20 to 100 self',
'th   100 to 250 self',
'vo -250 to -100 self',
'vo -100 to  -20 self',
'vo -20 to    20 self',
'vo    20 to 100 self',
'vo   100 to 250 self',
'np -250 to -100 self',
'np -100 to -20 self',
'np  -20 to   20 self',
'np    20 to 100 self',
'np   100 to 250 self',
'wp -250 to -100 self',
'wp -100 to  -20 self',
'wp  -20 to   20 self',
'wp    20 to 100 self',
'wp   100 to 250 self',
'cr -250 to -100 self',
'cr -100 to -20 self',
'cr   -20 to  20 self',
'cr    20 to 100 self',
'cr   100 to 250 self',
'vf -250 to -100 self',
'vf  -100 to -20 self',
'vf   -20 to  20 self',
'vf    20 to 100 self',
'vf   100 to 250 self',
're -250 to -100 self',
're  -100 to -20 self',
're   -20 to  20 self',
're    20 to 100 self',
're   100 to 250 self',
'en -250 to -100 self',
'en  -100 to -20 self',
'en   -20 to  20 self',
'en    20 to 100 self',
'en   100 to 250 self',
'le -250 to -100 self',
'le  -100 to -20 self',
'le   -20 to  20 self',
'le    20 to 100 self',
'le   100 to 250 self',
'sf -250 to -100 self',
'sf  -100 to -20 self',
'sf   -20 to  20 self',
'sf    20 to 100 self',
'sf   100 to 250 self',
'pd -250 to -100 self',
'pd  -100 to -20 self',
'pd   -20 to  20 self',
'pd    20 to 100 self',
'pd   100 to 250 self',
'st -250 to -100 self',
'st  -100 to -20 self',
'st   -20 to  20 self',
'st    20 to 100 self',
'st   100 to 250 self',
'tr -250 to -100 self',
'tr  -100 to -20 self',
'tr   -20 to  20 self',
'tr    20 to 100 self',
'tr   100 to 250 self',
'tf -250 to -100 self',
'tf  -100 to -20 self',
'tf   -20 to  20 self',
'tf    20 to 100 self',
'tf   100 to 250 self',
'tm -250 to -100 self',
'tm  -100 to -20 self',
'tm   -20 to  20 self',
'tm    20 to 100 self',
'tm   100 to 250 self']

In [21]:
total_time_labeled = 0

for file_id in file_ids:

    start_time = math.inf
    end_time = -math.inf

    for side in ['left', 'right']:
        print("Working on {} {} channel".format(file_id, side))
        # Load the CSV file into a dataframe, specifying the header and names arguments
        df = pd.read_csv('C:\\Research\\features\\{language}\\{side}_channel_{file_id}-downsampledfeatures.csv'.format(language=language, side=side, file_id=file_id), header=0, names=features)
        df['label'] = -1

        # Add a column 'sample_id' that contains the row number and the file_id e.g., {row_number}_{file_id} in the same column, in the first column
        df.insert(0, 'sample_id', ['{}_{}_{}'.format(file_id, i,side) for i in range(df.shape[0])])
        # Load the .eaf file using the pympi library
        eaf_file = 'C:\\Research\\features\\{language}\\{file_id}-reduction.eaf'.format(language=language, file_id=file_id)
        eafob = pympi.Elan.Eaf(eaf_file)

        # Get the tier containing the annotations
        tier = eafob.get_annotation_data_for_tier('Reduction {side}'.format(side=side.title()))

        # Get the lower start time and the higher end time
        start_recording_time = min(tier[0][0], start_time)
        end_recording_time = max(tier[-1][1], end_time)

        # Iterate through the annotations on the tier
        for annotation in tier:
            # Get the start and end time of the annotation
            annotation_start_time = annotation[0]
            annotation_end_time = annotation[1]
            total_time_labeled += annotation_end_time - annotation_start_time
            if annotation_start_time//10 < df.shape[0] and annotation_end_time//10 < df.shape[0]:
                df.loc[[i for i in range(annotation_start_time//10, annotation_end_time//10)], 'label'] = annotation[2]

            # Print the start and end time
            # print(f"Start time: {start_time}, End time: {end_time}")

        # Print start and end time
        if side == 'right':
            print("Start time: {}, End time: {}".format(start_recording_time/1000/60, end_recording_time/1000/60))
        
        # Save labeled data as a CSV
        df.to_csv('C:\Research\labeled_features\{language}\\{side}_channel_labeled_features_{file_id}.csv'.format(language=language, side=side, file_id=file_id), index=False)

print("Total time labeled: {}".format(total_time_labeled/1000/60))

Working on ES_001 left channel
Working on ES_001 right channel
Start time: 0.03816666666666667, End time: 5.963833333333333
Working on ES_003 left channel
Working on ES_003 right channel
Start time: 0.006166666666666667, End time: 1.2061666666666668
Working on ES_008 left channel
Working on ES_008 right channel
Start time: 0.126, End time: 1.7156999999999998
Working on ES_012 left channel
Working on ES_012 right channel
Start time: 0.003, End time: 5.021100000000001
Working on ES_022 left channel
Working on ES_022 right channel
Start time: 0.006, End time: 4.998133333333333
Working on ES_028 left channel
Working on ES_028 right channel
Start time: 0.06683333333333333, End time: 4.66435
Total time labeled: 16.884383333333332

# Debugging

In [36]:
# Load the CSV file into a dataframe, specifying the header and names arguments
df = pd.read_csv('C:\\Research\\features\\ES\\left_channel_ES_006-downsampledfeatures.csv', header=0, names=['lp -250 to -100','lp  -100 to -20','lp    -20 to 20','lp    20 to 100','lp   100 to 250','hp -250 to -100','hp  -100 to -20','hp    -20 to 20','hp    20 to 100','hp   100 to 250','np -250 to -100','np  -100 to -20','np    -20 to 20','np    20 to 100','np   100 to 250','wp -250 to -100','wp  -100 to -20','wp    -20 to 20','wp    20 to 100','wp   100 to 250','vo -250 to -100','vo  -100 to -20','vo    -20 to 20','vo    20 to 100','vo   100 to 250'])
df['label'] = -1
# df.head()

,lp -250 to -100,lp -100 to -20,lp -20 to 20,lp 20 to 100,lp 100 to 250,hp -250 to -100,hp -100 to -20,hp -20 to 20,hp 20 to 100,hp 100 to 250,...,wp -100 to -20,wp -20 to 20,wp 20 to 100,wp 100 to 250,vo -250 to -100,vo -100 to -20,vo -20 to 20,vo 20 to 100,vo 100 to 250,label
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.223288,-0.091211,-0.208290,-1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.273154,-0.084757,-0.192873,-1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-0.028155,-0.092616,-0.177381,-1
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-0.140455,-0.091854,-0.179985,-1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-0.191755,-0.079923,-0.169937,-1

In [39]:
# Load the .eaf file using the pympi library
eaf_file = 'C:\\Research\\features\\ES\\ES_006-reduction.eaf'
eafob = pympi.Elan.Eaf(eaf_file)


# Get the tier containing the annotations
tier = eafob.get_annotation_data_for_tier('Reduction Left')

# Iterate through the annotations on the tier
for annotation in tier:
    # Get the start and end time of the annotation
    start_time = annotation[0]
    end_time = annotation[1]
    df.loc[[i for i in range(start_time//10,end_time//10)], 'label'] = annotation[2]

    # Print the start and end time
    print(f"Start time: {start_time}, End time: {end_time}")

df.to_csv('C:\Research\labeled_features\ES\labeled_f_1.csv')

Start time: 3346, End time: 4626
Start time: 6770, End time: 7398
Start time: 7398, End time: 8644
Start time: 8644, End time: 8771
Start time: 8773, End time: 9561
Start time: 12447, End time: 12649
Start time: 16422, End time: 16728
Start time: 16973, End time: 17132
Start time: 17849, End time: 18387
Start time: 21459, End time: 21638
Start time: 22599, End time: 22868
Start time: 22941, End time: 23624
Start time: 25497, End time: 26039
Start time: 30170, End time: 30874
Start time: 32439, End time: 33022
Start time: 33024, End time: 33417
Start time: 33668, End time: 33953
Start time: 34015, End time: 34925
Start time: 34969, End time: 35557
Start time: 35557, End time: 35936
Start time: 36137, End time: 36558
Start time: 36955, End time: 37154
Start time: 37154, End time: 37310
Start time: 37721, End time: 38086
Start time: 38087, End time: 38270
Start time: 38709, End time: 38930
Start time: 38955, End time: 39412
Start time: 39414, End time: 39920
Start time: 40652, End time: 41147
Start time: 41706, End time: 41893
Start time: 41899, End time: 42345
Start time: 42354, End time: 42645
Start time: 42645, End time: 42911
Start time: 42915, End time: 43500
Start time: 43502, End time: 43737
Start time: 46563, End time: 46827
Start time: 46831, End time: 47121
Start time: 61910, End time: 62345
Start time: 62429, End time: 62926
Start time: 70213, End time: 70772
Start time: 84653, End time: 85249
Start time: 85249, End time: 85666
Start time: 87448, End time: 88103
Start time: 88780, End time: 89316
Start time: 89319, End time: 89782
Start time: 92608, End time: 93125
Start time: 93130, End time: 93928
Start time: 93928, End time: 94457
Start time: 95116, End time: 95854
Start time: 96294, End time: 97913
Start time: 98379, End time: 99130
Start time: 99135, End time: 99696
Start time: 101066, End time: 101678
Start time: 101681, End time: 103211
Start time: 108500, End time: 109281
Start time: 109285, End time: 109724
Start time: 110281, End time: 110880
Start time: 112399, End time: 112951
Start time: 112954, End time: 113514
Start time: 120146, End time: 120553
Start time: 120554, End time: 120930
Start time: 126352, End time: 126778
Start time: 138521, End time: 139360
Start time: 144035, End time: 144961
Start time: 148568, End time: 148850
Start time: 148850, End time: 149196
Start time: 149198, End time: 149448
Start time: 149449, End time: 149598
Start time: 149600, End time: 149811
Start time: 154540, End time: 154689
Start time: 154691, End time: 154939
Start time: 170572, End time: 171151
Start time: 171154, End time: 171751
Start time: 171926, End time: 172230
Start time: 172231, End time: 172335
Start time: 172336, End time: 172742
Start time: 172744, End time: 172926
Start time: 172927, End time: 173038
Start time: 173041, End time: 173276
Start time: 175379, End time: 175845
Start time: 197588, End time: 198720
Start time: 199295, End time: 199559
Start time: 217815, End time: 218148
Start time: 218161, End time: 218536
Start time: 227348, End time: 227607
Start time: 227607, End time: 227707
Start time: 227713, End time: 228035
Start time: 228035, End time: 228220
Start time: 228237, End time: 228655
Start time: 228662, End time: 229547
Start time: 231050, End time: 231383
Start time: 233396, End time: 233620
Start time: 233974, End time: 234058
Start time: 234059, End time: 234224
Start time: 234224, End time: 234497
Start time: 240537, End time: 241007
Start time: 247807, End time: 247907
Start time: 247912, End time: 248164
Start time: 248169, End time: 248845
Start time: 253212, End time: 253702
Start time: 256342, End time: 256674
Start time: 269405, End time: 270040
Start time: 272650, End time: 273339
Start time: 288575, End time: 288875
Start time: 312379, End time: 312850
Start time: 317688, End time: 318120
Start time: 329644, End time: 329950
Start time: 329951, End time: 330442
Start time: 399823, End time: 400269
Start time: 400274, End time: 400896
Start time: 406791, End time: 407221
Start time: 408383, End time: 408953
Start time: 419509, End time: 419739
Start time: 419744, End time: 420620
Start time: 420621, End time: 421010
Start time: 421270, End time: 421972
Start time: 440579, End time: 440852
Start time: 440858, End time: 441041
Start time: 442688, End time: 442772
Start time: 442775, End time: 442878
Start time: 442880, End time: 443272
Start time: 443725, End time: 443907
Start time: 443947, End time: 444077
Start time: 444085, End time: 444247
Start time: 444247, End time: 444315
Start time: 444315, End time: 444744
Start time: 444750, End time: 445039
Start time: 445042, End time: 445396
Start time: 445397, End time: 445570
Start time: 445574, End time: 445748
Start time: 445748, End time: 445907
Start time: 445909, End time: 446128
Start time: 446132, End time: 446245
Start time: 446247, End time: 446485
Start time: 446488, End time: 446661
Start time: 446666, End time: 447009
Start time: 452761, End time: 453109
Start time: 453109, End time: 453447
Start time: 458883, End time: 459323
Start time: 459739, End time: 460288
Start time: 460326, End time: 460564
Start time: 460877, End time: 461126
Start time: 461126, End time: 461569
Start time: 461855, End time: 462175
Start time: 462175, End time: 462599
Start time: 462604, End time: 462872
Start time: 462872, End time: 463251
Start time: 465577, End time: 465753
Start time: 465755, End time: 466461
Start time: 466636, End time: 466928
Start time: 466928, End time: 467207
Start time: 467207, End time: 467839
Start time: 467853, End time: 468220
Start time: 468223, End time: 468474
Start time: 468474, End time: 468664
Start time: 468699, End time: 469064
Start time: 469085, End time: 469547
Start time: 469551, End time: 469740
Start time: 469744, End time: 470169
Start time: 470837, End time: 471345
Start time: 481339, End time: 481750
Start time: 481755, End time: 482079
Start time: 482093, End time: 482433
Start time: 483307, End time: 483658
Start time: 483661, End time: 484031
Start time: 495755, End time: 496045
Start time: 496053, End time: 496444
Start time: 508171, End time: 508615
Start time: 509547, End time: 509964
Start time: 514485, End time: 515277
Start time: 515331, End time: 515577
Start time: 542115, End time: 542431
Start time: 542434, End time: 543066
Start time: 580458, End time: 581083
Start time: 581083, End time: 581286
Start time: 581288, End time: 581969
Start time: 582277, End time: 582558
Start time: 582558, End time: 582820
Start time: 582823, End time: 583258
Start time: 583259, End time: 583591
Start time: 583632, End time: 584169
Start time: 584534, End time: 585312
Start time: 585318, End time: 585488
Start time: 585572, End time: 585972
Start time: 585974, End time: 586469
Start time: 586967, End time: 587258
Start time: 587266, End time: 587799
Start time: 588015, End time: 588466
Start time: 588469, End time: 588766
Start time: 588944, End time: 589409
Start time: 589412, End time: 589704
Start time: 589828, End time: 590042
Start time: 590044, End time: 590506
Start time: 590674, End time: 591409
Start time: 591558, End time: 592356
Start time: 592358, End time: 592847
Start time: 594280, End time: 594966
Start time: 598859, End time: 599232
Start time: 599777, End time: 600010
Start time: 600010, End time: 600485
Start time: 600493, End time: 601107
Start time: 601536, End time: 602079
Start time: 609896, End time: 610117
Start time: 612031, End time: 612766
Start time: 634797, End time: 635185
Start time: 635188, End time: 635834
Start time: 641936, End time: 642482
Start time: 647326, End time: 647739
Start time: 647891, End time: 648204
Start time: 649164, End time: 649472
Start time: 649472, End time: 650009
Start time: 650077, End time: 650831
Start time: 651420, End time: 651593
Start time: 651593, End time: 651842
Start time: 651880, End time: 652169
Start time: 652179, End time: 653167
Start time: 653167, End time: 653283
Start time: 653287, End time: 653618
Start time: 653758, End time: 654606
Start time: 654612, End time: 655325
Start time: 655669, End time: 656147
Start time: 656147, End time: 656372
Start time: 659728, End time: 659979
Start time: 660179, End time: 660820
Start time: 662399, End time: 662702
Start time: 662702, End time: 663345
Start time: 663349, End time: 663898
Start time: 663952, End time: 664728

In [10]:
import pandas as pd

# Create a list of numbers from 1 to 20
numbers = list(range(1, 21))

# Divide the list into four columns
col1 = numbers[0:5]
col2 = numbers[5:10]
col3 = numbers[10:15]
col4 = numbers[15:20]

# Create the dataframe with the four columns
df = pd.DataFrame({'col1': col1, 'col2': col2, 'col3': col3, 'col4': col4})

# Print the dataframe
print(df)

   col1  col2  col3  col4
0     1     6    11    16
1     2     7    12    17
2     3     8    13    18
3     4     9    14    19
4     5    10    15    20

In [32]:
df.loc[[i for i in range(1,4)], 'col2'] = 99

   col1  col2  col3  col4
0     1     6    11    16
1     2    99    12    17
2     3    99    13    18
3     4    99    14    19
4     5    10    15    20